<<<<<<< HEAD
.main
    .logo= link_to image_tag("frontpage/logo.png"), root_path
    %h1.title
    = "fuyunxiangshengshe"
    .photos
=======
%h1 Welcome#index
%p Find me in app/views/welcome/index.html.erb
>>>>>>> 9c44a2a49f957ea151a496c11452c30bc78bc6ec
